*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f7fa;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 50px;

    background:white;
}

.nav-links a{
    text-decoration:none;
    margin-left:20px;
    color:black;

    transition:0.3s;
}

.nav-links a:hover{
    color:#c86ee8;
}

.hero{
    min-height:80vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero h2{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    margin-bottom:30px;
}

.btn{
    display:inline-block;

    background:#c86ee8;

    color:white;

    padding:12px 25px;

    border-radius:8px;

    text-decoration:none;

    transition:0.3s;
}

.btn:hover{
    background:#7c4591;
}

.login-container{
    min-height:100vh;

    display:flex;

    justify-content:center;
    align-items:center;
}

.login-card{

    width:100%;
    max-width:420px;

    background:white;

    padding:40px;

    border-radius:16px;

    box-shadow:0 10px 25px rgba(0,0,0,0.1);

    display:flex;
    flex-direction:column;

    gap:20px;
}

.subtitle{
    color:#666;
    text-align:center;
}

.form-group{
    display:flex;
    flex-direction:column;

    gap:8px;
}

.form-group input{

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;
}

.signup-link{
    text-align:center;
}

.signup-link a{
    color:#c86ee8;
    text-decoration:none;
}

#errorMessage{
    color:red;
    font-size:14px;
}

.login-title{
    text-align:center;
}
